<div class="container page">
  <div class="content">
    <h1 class="text-center">Let's Play</h1>
    <div class="letters">
      <% @letters.each do |letter| %>
        <p class="letter"><%= letter %></p>
      <% end %>
    </div>
    <p class="text-center"><strong>What is the longest word you can find ?</strong></p>
    <div class="answer">
      <form action="/score" method="post" class="form-inline">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :letters, @letters %>
        <input type="text" name="score" placeholder="Answer" class="form-control">
        <input type="submit" value="Play" class="btn-primary form-control">
      </form>
    </div>
  </div>
</div>
